<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>043</title>
</head>
<script src="vue.js"></script>
<body>

<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients">({{ i }}) {{ingredient}} </li>
    </ul>
    <template v-for="(ingredient, index) in ingredients">
        <h1>{{ingredient}}</h1>
        <p>{{index}}</p>
    </template>

</div>



<script>
    // Put this in the script section in JSFiddle
    // In a local setup, you need to merge this and the index.html file into one file
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max,', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'}
            ]
        }
    })

</script>

</body>
</html>
