<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assignment 4</title>
</head>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
  .demo{
    width: 100px;
    height: 100px;
    background-color: grey;
    display: inline-block;
    margin: 10px;
  }
  .demo2{
    width: 200px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
    margin: 50px;
  }
  .demo3{
    width: 300px;
    height: 20px;
    background-color: greenyellow;
    display: inline-block;
    margin: 2px;
  }

  .red{
    background-color: red;
  }
  .green{
    background-color: green;
  }
  .blue{
    background-color: blue;
  }
  .yellow{
    background-color: yellow;
  }
  .grey{
    background-color: grey;
  }
</style>
<body>

<div id="exercise">

  <div>
    <p>1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below)</p>
    <button @click="shrink = !shrink">Start Effect</button>
    <div id="effect" :class="startEffect">{{ startEffect }}</div>
  </div>
  <hr>
  <p>2) Create a couple of CSS classes and attach them via the array syntax</p>
  <div :style="[myStyle]">I got a new class :D</div>
  <hr>
  <div>
    <p>3) Let the user enter a class (create some example classes) and attach it</p>
    <ul>
      <li>There are 3 classes </li>
      <li>demo </li>
      <li>demo2 </li>
      <li>demo3 </li>
    </ul>
    <input type="text" v-model="colorEx3"><br>
    <div :class="[colorEx3]"></div>
  </div>
  <hr>

  <div>
    <p>4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes</p>
    <input type="text" v-model="classEx4"><br>
    <label for="classRed">Activate Red Background</label>
    <input type="checkbox" v-model="statusEx4" id="classRed"> <br>
    <div :class="[classEx4, {red: statusEx4}]"></div>
  </div>
  <hr>
  <div>
    <p> 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  </p>
    <input type="text" v-model="colorEx5"><br>
    <div :style="{backgroundColor: colorEx5}" class="demo"></div>
    <div></div>
  </div>
  <hr>
  <div>
    <p>6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button.</p>
    <button>Start Progress</button>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 1%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#exercise',
    data: {
      shrink: false,
      color: 'pink',
      width: 100,
      height: 80,
      colorEx3: 'demo',
      classEx4: 'demo',
      statusEx4: true,
      colorEx5: 'rgb(0, 191, 255)',
      progessBar: false,
    },
    watch: {
      shrink: function (value) {
        var vm = this;
        setTimeout(function(){
          vm.shrink = !vm.shrink;
          //console.log('shrink = ' + vm.shrink);
        }, 1000)
      },
      progessBar: function (value) {
        var vm = this;
        setTimeout(function(){
          vm.shrink = !vm.shrink;
          //console.log('shrink = ' + vm.shrink);
        }, 1000)
      }
    },
    computed: {
      startEffect: function () {
        //console.log('shrink = ' + this.shrink);
        return {
          red: this.shrink,
          yellow: !this.shrink,
        }
      },
      myStyle: function () {
        return {
          backgroundColor: this.color,
          width: this.width + 'px',
          height: this.height + 'px'
        }
      },
    }
  });

</script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
